body {
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position-x: -200px;}
    100% {background-position-x: 0px;}
}

.navbar {
    background-color: var(--steel-blue);
    margin-bottom: 1em;
}

.navbar .navbar-brand {
    color: #000 !important;
    font-size: 2em;
}

.navbar a {
    font-size: 1.5em;
}

.navbar .active {
    color: var(--portland-orange) !important;
}

a:not(.navbar-brand) {
    text-decoration: none !important;
    position: relative;
}

a:not(.navbar-brand)::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: var(--portland-orange);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

a:not(.navbar-brand):hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.register-button {
    margin-top: 20px;
    float: right;
    background-color: var(--steel-blue) !important;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.registration-form {
    width: 40%;
    height: 40%;
}

.colorization_images {
    max-height: 400px;
    max-width: 80%;
}

.colorization_image_holder {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gallery {
    /* background: #EEE; */
}

.gallery-cell {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
}

/* cell number */
/* .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
} */

* {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }
  

  hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #205a8a -moz-use-text-color #891d8d !important;
    border-style: solid none;
    border-width: 1px 0 !important;
    width: 90%;
    margin: 18px 0;
  }
  
  .custom_link {
      color: var(--portland-orange) !important;
  }